openapi: 3.1.0
info:
  version: 1.0.0
  title: Petstore API
  description: A sample API to illustrate OpenAPI concepts
paths:
  /:
    get:
      description: Root path for only Echo response 
      responses:
        '200':
          description: Successful response
         content:
           application/json:
             schema:
               type: object
               properties:
                 bodySize:
                   type: string
                   description: Displays the size of the original request body.
                 headers:
                   type: string
                   description: Displays all the headers from the original request.
                 query_params:
                   type: string
                   description: Displays all the query parameters from the original request.
  /list:
    get:
      description: Returns a list of stuff              
      responses:
        '200':
          description: Successful response
  /pets:
    post:
      description: Create a new Pet             
      responses:
        '201':
          description: Created
